@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");
@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

#menu-btn {
  font-size: 21px;
  margin-left: 21px;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: $accent;
  }
}

#menu-btn {
  display: none;
}

.logo {
  display: flex;
  max-width: 140px;
  margin-right: auto;

  &__img {
    object-fit: contain;
    height: 35px;
  }
  span {
    text-align: center;
    line-height: 17px;
    color: $black;
    font-weight: 700;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__link {
    font-size: 16px;
    margin-right: 30px;
    color: $black;
    transition: color 0.3s;

    &:hover {
      color: $accent;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $grey-light;
  padding: 10px 0;
  z-index: 900;

  &__inner {
    display: flex;
    align-items: center;
  }
}

// home
.home {
  &__box {
    min-height: 50vh;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;

    .image {
      flex: 1 1 350px;
    }

    &--wrap {
      flex-wrap: wrap-reverse;
    }
  }

  &__img {
    width: 100%;
    gap: 20px;
  }

  &__content {
    flex: 1 1 500px;

    h3 {
      font-size: 21px;
    }

    p {
      margin-bottom: 10px;
      padding-bottom: 15px;
    }
  }
}

// Service
#services__box {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.05);
  }
}

.services {
  &__inner {
    @include grid(350px);
  }

  &__box {
    text-align: center;
    padding: 30px;
    background-color: $grey-light;
    border-radius: 10px;
    transition: transform 0.5s;

  }

  &__img {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 21px;
    padding: 10px 0;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: $grey;
  }
}

// work
.work {
  background-color: #f8f9fd;

  &__inner {
    columns: 3 350px;
    gap: 10px;
  }

  &__img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
  }
}

// Price

#price__box {
transition: border-color 0.5s;

&:hover {
  border-color: $accent;
}
}

.price {
  &__inner {
    @include grid(350px);
  }

  &__box {
    position: relative;
    text-align: center;
    padding: 30px;
    background-color: $grey-light;
    border-radius: 10px;
    border: 1px solid transparent;
  }

  &__subtitle {
    display: inline-block;
    padding: 10px 21px;
    background-color: $grey;
    color: $white;
    border-radius: 5px;
  }

  &__rate {
    font-size: 21px;
    font-weight: 600;
    padding: 10px;

    span {
      font-size: 30px;
    }
  }

  &__list {
    padding: 15px 0;
    margin-bottom: 30px;
  }

  &__item {
    padding: 5px 0;
    font-size: 18px;
    color: $black-light;

    span {
      padding-right: 5px;
      color: $accent;
    }
  }

  &__btn {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
  }
}

// Reviews
.reviews {
  &__inner {
    @include grid(350px);
  }

  &__user {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .avatar {
    width: 80px;
    object-fit: contain;
  }

  .blockquote {
    width: 100%;
    background-color: $grey-light;
    border-radius: 10px;
    padding: 5px 15px;
    position: relative;
    min-height: 170px;

    &::before {
      position: absolute;
      content: "";
      left: -14px;
      top: 10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 15px solid $grey-light;
      border-bottom: 10px solid transparent;
    }

    cite {
      font-size: 25px;
      font-weight: 700;
      font-style: normal;
    }

    span {
      font-size: 15px;
      color: $accent;
    }

    &__text {
      color: $black-light;
    }
  }

  .stars {
    margin-bottom: 10px;
  }
}

// Contact
.contact {
  background-color: #f8f9fd;

  &__inner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
  }

  &__box {
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: $white;
    margin-bottom: 20px;
  }

  &__list {
    li span {
      font-weight: 500;
      padding-right: 10px;
      color: $black-light;
    }
  }
  &__form {
    background-color: $white;
    padding: 10px;
    border-radius: 20px;
    align-self: start;
  }
}

.form {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-start;

  &__top-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    width: 45%;
    margin: 10px;

    &--big {
      width: 100%;
    }
  }

  & label {
    font-weight: 600;
  }

  &__field {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid $accent;
    font-size: 16px;
    outline: 1px solid transparent;
    transition: outline 0.3s;

    &--big {
      min-height: 150px;
    }

    &:focus {
      outline: 1px solid $accent;
    }
  }
}

// footer
.footer {
  padding: 10px 0;
  background-color: $grey-light;

  &__subtitle {
    margin-bottom: 10px;
  }

}

@import "media";
